#custom {

    top: 952px;
  left: 0px;
  width: 1400px;
  height: 591px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  }
  
  #saying {
  
   margin-top: 6px;
    left: 353px;
    width: 696px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal 600 36px/43px Montserrat;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
  position: absolute;
  }
  
  
  /* chats */
  #u229 {
    top: 147px;
    left: 171px;
  width: 273px;
  height: 147px;
  /* UI Properties */
  background: transparent url('img/u229.png') 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  position: absolute;
  }
  
  #rectangle15 {
    top: 279px;
    left: 194px;
  width: 28px;
  height: 28px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  /* UI Properties */
  background: #6696E2 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  position: absolute;
  }
  
  #u229b {
    top: 173px;
    left: 563px;
  width: 273px;
  height: 125px;
  /* UI Properties */
  background: transparent url('img/u229.png') 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  position: absolute;
  }
  
  #rectangle15b {
    top: 279px;
    left: 601px;
  width: 28px;
  height: 28px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  /* UI Properties */
  background: #6696E2 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  position: absolute;
  }
  
  #u229c {
    top: 147px;
    left: 955px;
  width: 273px;
  height: 147px;
  /* UI Properties */
  background: transparent url('img/u229.png') 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  position: absolute;
  }
  
  #rectangle15c {
    top: 279px;
    left: 978px;
  width: 28px;
  height: 28px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  /* UI Properties */
  background: #6696E2 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  position: absolute;
  }
  
  /* p */
  
  #chat1 {
  
  
      top: 85px;
      left: -303px;
  width: 230px;
  height: 107px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 14px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  z-index: 10;
  }
  
  #chat2 {
    top: 107px;
    left: 90px;
    width: 230px;
    height: 85px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  position: absolute;
  z-index: 10;
  }
  
  #chat3 {
   
    top: 91px;
    left: 483px;
    width: 230px;
    height: 85px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  position: absolute;
  z-index: 10;
  }
  
  
  /* avatars */
  
  
  #avatar1 {
    top: 339px;
    left: 173px;
  width: 70px;
  height: 70px;
  /* UI Properties */
  background: transparent url('img/avatar_2_u231.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  }
  
  #avatar1b {
    top: 352px;
    left: 260px;
  width: 100px;
  height: 24px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  position: absolute;
  }
  
  #avatar2 {
    top: 339px;
    left: 565px;
  width: 70px;
  height: 70px;
  /* UI Properties */
  background: transparent url('img/avatar_2_u231.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  }
  
  #avatar2b {
    top: 352px;
    left: 656px;
  width: 100px;
  height: 24px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  position: absolute;
  }
  
  
  #avatar3 {
    top: 339px;
    left: 957px;
  width: 70px;
  height: 70px;
  /* UI Properties */
  background: transparent url('img/avatar_2_u231.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  }
  
  #avatar3b {
    top: 352px;
    left: 1051px;
  width: 100px;
  height: 24px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  position: absolute;
  }
  