.prices {
    position: absolute;
    width: 1400px;
    height: 883px;
/* UI Properties */
    background: #6696E2 0% 0% no-repeat padding-box;
   }



.prices h1   {

position: relative;
margin-top: 97px;

text-align: center;
font: normal normal 600 36px/43px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;;
}

.prices p {

text-align: left;
font: normal normal normal 14px/20px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
margin-left: 518px;
margin-top: 90px;
}

.separator5 {
margin-left: 668px;
margin-top: -71px;
content: "";
left: 668px;
width: 64px;
height: 2px;
/* UI Properties */
background: transparent url(/app/img/divider_orange_u7\ copy.svg) 0% 0% no-repeat padding-box;
}

/* cards */



/* card1 */


.card1 {
content: "";
left: 529px;
width: 343px;
height: 59px;
/* UI Properties */
background: transparent url() 0% 0% no-repeat padding-box;
border-radius: 5px 5px 0px 0px;
margin-left: 529px;
margin-top: 276px;

}

#professional {
width: 122px;
height: 24px;
/* UI Properties */
text-align: center;
font: normal normal normal 20px/24px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
top: 306px;
left: 128px;
z-index: 90;
position: absolute;

}

.dollar {

font-size: 30px;
}

#monthlypayment {

top: 445px;
left: 122px;
width: 126px;
height: 18px;
/* UI Properties */
text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 0.5;
position: absolute;
}
#cardheader1 {

margin-top: -83px;
position: absolute;
}

#cardheader2 {

margin-top: 63px;
position: absolute;
}
#card1a {
margin-top: -31px;
margin-left: 0px;

}

#card1ap {
margin-top: -72px;
margin-left: 116px;
width: 112px;
height: 115px;
/* UI Properties */
text-align: center;
font: normal normal normal 94px/24px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
/* position: relative; */
}
#card1bp {
text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;

width: 154px;
margin-left: 97px;
margin-top: 4px;
z-index: 60;
position: relative;

}

#card1b {

margin-top: -4px;

position: absolute;

}

#card1c {
margin-top: 6px;
position: absolute;
}
#card1cp {

text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #86878B;


width: 154px;
margin-left: 97px;
margin-top: 20px;
z-index: 60;
position: relative;
}
#card1d {
margin-top: -4px;
position: absolute;
}

#card1dp {

text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #86878B;

width: 164px;


margin-left: 97px;
margin-top: 14px;
z-index: 60;
position: relative;
}
#card1e {
margin-top: -4px;
position: absolute;
}

#card1ep {

text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #86878B;

width: 164px;


margin-left: 97px;
margin-top: 9px;
z-index: 60;
position: relative;
}
#card1f {
margin-top: 1px;
position: absolute;
}

#card1fp {

text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #86878B;

width: 208px;



margin-left: 76px;
margin-top: 9px;
z-index: 60;
position: relative;
}
#card1g {
margin-top: 7px;
position: absolute;
}
#card1gp {

text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #86878B;

width: 208px;



margin-left: 75px;
margin-top: 9px;
z-index: 60;
position: relative;
}
#card1h {
margin-top: 114px;
border-radius: 0px 0px 5px 5px;

position: absolute;
}

#card1hp {

text-align: center;
font: normal normal normal 14px/24px Montserrat;
letter-spacing: 0px;
color: #86878B;

width: 208px;



margin-left: 97px;
margin-top: 9px;
z-index: 60;
position: relative;
}


/* card2 */

#cardheader3 {
top: 420px;
left: 146px;
width: 343px;
height: 59px;
/* UI Properties */
background: transparent url('img/card_header_u266.png') 0% 0% no-repeat padding-box;
border-radius: 5px 5px 0px 0px;
opacity: 1;
position: absolute;
}

#cardprice2 {
top: 479px;
left: 146px;
width: 343px;
height: 100px;
/* UI Properties */
background: transparent url('img/card_price_u268.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u273 {
top: 577px;
left: 146px;
width: 343px;
height: 6px;
/* UI Properties */
background: transparent url('img/u273.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13a {
top: 582px;
left: 146px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13b {
top: 622px;
left: 146px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13c {
top: 662px;
left: 146px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13d {
top: 702px;
left: 146px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13e {
top: 742px;
left: 146px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13f {
top: 782px;
left: 146px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

/* card3 */


#cardheader3x {
top: 420px;
left: 912px;
width: 343px;
height: 59px;
/* UI Properties */
background: transparent url('img/card_header_u266.png') 0% 0% no-repeat padding-box;
border-radius: 5px 5px 0px 0px;
opacity: 1;
position: absolute;
}

#cardprice2x {
top: 479px;
left: 912px;
width: 343px;
height: 100px;
/* UI Properties */
background: transparent url('img/card_price_u268.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u273x {
top: 577px;
left: 912px;
width: 343px;
height: 6px;
/* UI Properties */
background: transparent url('img/u273.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13ax {
top: 582px;
left: 912px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13bx {
top: 622px;
left: 912px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13cx {
top: 662px;
left: 912px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13dx {
top: 702px;
left: 912px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13ex {
top: 742px;
left: 912px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

#u13fx {
top: 782px;
left: 912px;
width: 343px;
height: 40px;
/* UI Properties */
background: transparent url('img/pricing_feature_u13.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}
